@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* warna */
:root {
  --warna-one: #40a2e3;
  --warna-two: #38E54D;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: #eee;
  font-family: "Poppins";
  font-size: 12px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.496);
  padding: 12px 40px;
  position: fixed;
  width: 100%;
  margin: 0;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  color: var(--warna-one);
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar .logo span {
  color: var(--warna-two);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
}

.navbar ul .llist {
  margin: 0 5px;
}

.navbar ul .llist a,
.navbar .dropbtn {
  color: var(--warna-two);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.navbar .llist,
.navbar .dropbtn {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.navbar ul .llist:hover,
.navbar .dropbtn:hover {
  text-shadow: 0 0 10px var(--warna-two);
  color: var(--warna-two);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

/* Dropdown */
.navbar ul li .dropdown {
  position: relative;
}

.navbar ul li .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--warna-one);
  width: 100%;
  top: 50px;
  right: 0;
  min-width: 160px;
}

.navbar ul li .dropdown-content a {
  display: block;
  padding: 20px 10px;
  color: #000;
}

.dropdown-content a:hover {
  background-color: var(--warna-one);
}

.navbar ul li:hover .dropdown-content {
  display: block;
  background-color: var(--warna-two);
  margin-top: -10px;
}

/* Toggler button for mobile view */
.navbar .toggler {
  display: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive navbar */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: var(--warna-one);
    transition: left 0.3s ease;
  }

  .navbar ul li {
    text-align: center;
    margin: 20px 0;
  }

  .navbar ul .llist a,
  .navbar .dropbtn {
    color: #000;
  }

  .navbar .toggler {
    display: block;
  }

  .navbar ul.show {
    left: -30px;
  }
}

a {
  text-decoration: none;
}

/* carousel */
.carousel {
  height: 120vh;
  margin-top: -90px;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  z-index: 2;
}

.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content {
  position: absolute;
  top: 30%;
  width: 1140px;
  max-width: 70%;
  left: 40%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author {
  font-weight: bold;
  letter-spacing: 5px;
}
.carousel .list .item .title,
.carousel .list .item .topic {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic {
  color: var(--warna-two);
}
.carousel .list .item .des {
  max-width: 400px;
}
.carousel .list .item .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
  cursor: pointer;
  z-index: 9999;
}
.carousel .list .item .buttons button {
  border: none;
  background-color: var(--warna-two);
  letter-spacing: 3px;
  font-weight: 500;
  transition: 0.3s ease, 0.5s ease-in;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.3s ease, 0.5s ease-in;
  -moz-transition: 0.3s ease, 0.5s ease-in;
  -ms-transition: 0.3s ease, 0.5s ease-in;
  -o-transition: 0.3s ease, 0.5s ease-in;
}
.carousel .list .item .buttons button:hover {
  background-color: #9bff0692;
  color: white;
}
.carousel .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title {
  font-weight: 500;
}
.thumbnail .item .content .description {
  font-weight: 300;
}
/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* animation */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* animasi text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title {
  animation-delay: 1s !important;
}
.carousel .list .item:nth-child(1) .content .topic {
  animation-delay: 1.2s !important;
}
.carousel .list .item:nth-child(1) .content .des {
  animation-delay: 1.3s !important;
}
.carousel .list .item:nth-child(1) .content .buttons {
  animation-delay: 1.5s !important;
}
/* membuat animasi ketika click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item img {
  z-index: 100;
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.carousel.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* time */
.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 5px;
  background-color: var(--warna-two);
  left: 0;
  top: 154px;
  bottom: 10px;
  right: 100px;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 3s linear 1 forwards;
  -webkit-animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev klik */

.carousel.prev .list .item:nth-child(2) {
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
  }
  .carousel .list .item .content .title {
    font-size: 30px;
  }
  .carousel .list .item .content .balek {
    font-size: 35px;
  }
}

.carousel::after {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 40%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 60%
  );
}

/* tombol keatas */
.top-tbl {
  position: fixed;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  background-color: var(--warna-one);
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Destinasi */
.destinasi {
  padding: 50px 20px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

.container-destinasi {
  display: flex;
  /* background-color: greenyellow; */
  justify-content: space-between;
  width: 100%;
  height: 40%;
  padding: 50px 0;
  margin: 0 0 200px 0;
  /* background-color: pink; */
}

.teks-destinasi {
  width: 40%;
  max-width: 400px;
  height: 100%;
  margin: auto;
  align-content: center;
  padding-left: 20px;
}

.destinasi .jdl {
  font-size: 2em;
  height: auto;
  margin-bottom: 20px;
  color: var(--warna-two);
}

.destinasi .desk {
  font-size: 1.2em;
  /* background-color: pink; */
  margin-bottom: 20px;
  color: white;
  max-height: 200px; /* Atur tinggi tetap sesuai kebutuhan */
  overflow-y: auto; /* Aktifkan scroll vertikal */
  padding-right: 10px; /* Tambahkan padding untuk menghindari overlap dengan scrollbar */
}

.destinasi .img-konten {
  display: flex;
  margin: auto;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* gap: 20px; */
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  border-radius: 10px;
  /* background-color: rebeccapurple; */
}

.bungkus-img {
  width: 50%;
  height: 90%;
  /* margin-right: 20px; */
}
.img-satu {
  width: 40%;
  height: 95%;
}

.img-dua {
  width: 100%;
  height: 50%;
  margin-bottom: 21px;
  margin-top: -10px;
}
.img-tiga {
  width: 100%;
  height: 50%;
}
/* gambar destinasi */

/* bromo */
.img-konten .bromo-satu {
  background-image: url(assets/bromo-potrait.jpg);
  background-size: cover;
}
.img-konten .bromo-dua {
  background-image: url(assets/bromo-potr.jpg);
  background-position: bottom;
  background-size: cover;
}
.img-konten .bromo-tiga {
  background-image: url(assets/gambar2/bromo3.jpeg);
  background-position: bottom;
  background-size: cover;
}
/* kawah */
.img-konten .kawah-satu {
  background-image: url(assets/gambar2/kawah1.jpeg);
  background-size: cover;
}
.img-konten .kawah-dua {
  background-image: url(assets/kawah2.jpg);
  background-position: ce;
  background-size: cover;
}
.img-konten .kawah-tiga {
  background-image: url(assets/kawah3.jpg);
  background-size: cover;
}
/* tumpak */
.img-konten .tumpak-satu {
  background-image: url(assets/gambar2/tumpak1.jpeg);
  background-size: cover;
}
.img-konten .tumpak-dua {
  background-image: url(assets/tumpak2.jpg);
  background-size: cover;
}
.img-konten .tumpak-tiga {
  background-image: url(assets/tumpak3.jpg);
  background-position: center;
  background-size: cover;
}
/* balekambang */
.img-konten .bale-satu {
  background-image: url(assets/bale1.jpg);
  background-size: cover;
}
.img-konten .bale-dua {
  background-image: url(assets/bale2.jpg);
  background-position: center;
  background-size: cover;
}
.img-konten .bale-tiga {
  background-image: url(assets/bale3.jpg);
  background-size: cover;
}
/* baluran */
.img-konten .baluran-satu {
  background-image: url(assets/baluran1.jpg);
  background-position: center;
  background-size: cover;
}
.img-konten .baluran-dua {
  background-image: url(assets/baluran2.jpg);
  background-size: cover;
}
.img-konten .baluran-tiga {
  background-image: url(assets/baluran3.jpg);
  background-size: cover;
}

.container-destinasi .teks-destinasi a {
  background-color: var(--warna-one);
  color: black;
  font-size: 1.2rem;
  padding: 5px 7px;
  transition: 0.4s linear, 0.4s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s linear, 0.4s ease;
  -moz-transition: 0.4s linear, 0.4s ease;
  -ms-transition: 0.4s linear, 0.4s ease;
  -o-transition: 0.4s linear, 0.4s ease;
}
.container-destinasi .teks-destinasi a:hover {
  background-color: var(--warna-two);
  color: rgb(0, 38, 115);
  margin-left: 10px;
}

/* Galeri */

/* Contact */
.kontak {
  display: flex;
  width: 100%;
  /* height: 80vh; */
  margin: auto;
}

.container-kontak {
  justify-content: space-around;
  width: 95%;
  height: 100%;
  padding-bottom: 100px;
}

.card-kontak {
  background-color: rgb(16, 16, 16);
  color: var(--warna-one);
  justify-content: center;
  align-content: center;
  margin: 20px;
  padding: 5px;
  border: 2px solid rgb(87, 87, 87);
  width: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-kontak form {
  padding: 20px 5px 40px 5px;
  height: 80%;
}

.card-kontak .form-grup {
  display: block;
  width: 90%;
  justify-content: center;
  margin: auto;
}

.card-kontak form label {
  font-size: 1.2rem;
  padding: 5px 0 3px 0;
  display: block;
}

.card-kontak form input,
.form-grup textarea {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(87, 87, 87);
  background-color: rgb(37, 37, 37);
  color: #40a2e385;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card-kontak textarea {
  height: 70px;
  resize: none;
}

.card-kontak form button {
  background-color: rgb(16, 16, 16);
  color: rgb(162, 162, 162);
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(87, 87, 87);
  width: 90%;
  height: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.4s, 0.4s;
  -webkit-transition: 0.4s, 0.4s;
  -moz-transition: 0.4s, 0.4s;
  -ms-transition: 0.4s, 0.4s;
  -o-transition: 0.4s, 0.4s;
}
.card-kontak form button:hover {
  background-color: #000;
  color: var(--warna-one);
}

.lokasi {
  margin: 10px 0;
}

.lokasi .teks-lokasi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 5px;
}

.lokasi .kotak {
  background-color: var(--warna-one);
  max-width: 200px;
  width: 90%;
  height: 90%;
  padding: 10px 10px 25px 10px;
  /*top: 20px;*/
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.lokasi .teks-lokasi {
  margin: auto;
  width: 90%;
  height: 50%;
}
.lokasi .teks-lokasi h3 {
  font-size: 1.3rem;
  color: black;
}
.lokasi .teks-lokasi h4 {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.lokasi .teks-lokasi i {
  margin-bottom: 5px;
  font-size: 2.7rem;
  color: rgb(0, 18, 136);
}

.lokasi .gmaps {
  width: 80%;
  height: 40%;
  border: 4px solid var(--warna-one);
  margin: 70px auto;
}

.lokasi .gmaps iframe {
  width: 100%;
  height: 100%;
}

/* footer */
footer {
  display: flex;
  background-color: var(--warna-one);
  /* background-image: url(assets/wave\ \(1\).svg);
  background-size: cover;
  background-repeat: no-repeat; */
  color: white;
  padding: 0 30px 30px 30px;
  /* margin-top: 100px; */
}

footer .containerr-footer {
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

footer h3 {
  font-size: 1.4rem;
  color: #000;
}

.teks-footer {
  width: 30%;
  margin: 40px 40px 40px 0;
}

.teks-footer img {
  margin-top: 10px;
  width: 30%;
}

.containerr-footer .list-kota {
  justify-content: space-around;
  display: flex;
  flex-wrap: nowrap;
  margin: 20px auto;
  width: 70%;
  height: 80%;
  display: flex;
}

.containerr-footer .footer-kota,
.footer-kabupaten {
  list-style: none;
  width: 50%;
}

.list-kota ul li {
  padding: 3px;
  font-size: 0.8rem;
}

.list-kota ul li a {
  color: rgb(255, 255, 255);
  transition: 0.4s, 0.4s ease;
  -webkit-transition: 0.4s, 0.4s ease;
  -moz-transition: 0.4s, 0.4s ease;
  -ms-transition: 0.4s, 0.4s ease;
  -o-transition: 0.4s, 0.4s ease;
}

.list-kota ul li a:hover {
  color: rgb(0, 0, 0);
}

/* footer selesai */

.lokasi-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: #000000; /* Warna latar belakang yang lebih terang */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lokasi-container h1 {
  font-size: 4rem;
}

.kartu {
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(87, 87, 87);
  color: white;
  overflow: hidden;
  width: 100%;
  height: 700px;
  max-width: 300px;
  margin: 40px 0;
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.kartu .judul {
  color: var(--warna-two);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2.8rem;
  text-align: center;
  margin: 40px 0;
}

.kartu:hover {
  transform: translateY(-10px);
}

.kartu h1 {
  font-size: 1.5rem;
  color: var(--warna-one);
  margin: 10px;
}

.kartu iframe {
  width: 80%;
  height: 200px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.kartu .klik-map {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: var(--warna-two);
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 40px auto;
  width: 50%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.kartu .pembungkus-lokasi {
  padding: 10px;
}

.kartu .lokasi,
.kartu .tiket {
  margin: 10px 0;
}

.kartu .lokasi h2,
.kartu .tiket h2 {
  font-size: 1.2rem;
  color: var(--warna-two);
}

.kartu .lokasi h3,
.kartu .tiket h3 {
  font-size: 1rem;
  color: #000000;
}

.pembungkus-lokasi {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pembungkus-lokasi .lokasi,
.pembungkus-lokasi .tiket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pembungkus-lokasi .judul-lokasi,
.pembungkus-lokasi .info {
  display: flex;
  align-items: center;
}

.pembungkus-lokasi .judul-lokasi h2,
.pembungkus-lokasi .info h3 {
  margin: 0;
  color: #333;
}

.pembungkus-lokasi .judul-lokasi i,
.pembungkus-lokasi .info i {
  margin-left: 10px;
  color: var(--warna-one);
}

/* Responsive lokasi */
@media (max-width: 768px) {
  .pembungkus-lokasi {
    padding: 10px;
  }

  .pembungkus-lokasi .lokasi,
  .pembungkus-lokasi .tiket {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Responsive untuk layar kecil */

@media screen and (max-width: 768px) {
  .destinasi .img-konten {
    width: 90vw;
    height: 50vh;
  }

  .destinasi {
    margin: auto;
    text-align: center;
  }

  .teks-destinasi {
    max-width: 600px;
    width: 90%;
    height: 50%;
  }

  .containerr-footer .list-kota {
    display: block;
  }
  .footer-kabupaten {
    margin-right: 10px;
    padding-right: 10px;
  }
}

/* Style untuk layar laptop dan lebih besar */
/* @media screen and (min-width: 992px) {
  header {
    position: relative;
    z-index: 999;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.532);
    backdrop-filter: blur(5px);
  }
} */

/* Style untuk layar handphone (di bawah 992px) */
@media screen and (max-width: 992px) {
  /* .position-relative {
    padding: 10px;
    z-index: 9999 ;
    background-color: rgba(0, 0, 0, 0.532);
    backdrop-filter: blur(10px);
  }

  .navbar-nav .dropdown-menu {
    background-color: var(--warna-two);
    position: absolute;
    justify-content: end;
    right: 0;
    left: auto;
    width: 100%;
    height: auto;
    box-shadow: 0 0 0px var(--warna-one);
  } */

  .card-kontak {
    margin: auto;
    width: 90%;
  }
}
